<div class="property-container">
    <div class="form-builder-props">
        <h3>Form Properties</h3>
        <div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Form Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Internal Id</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Width</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Align</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Background color</mat-label>
                <input type="color" matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Background Image</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>
</div>