<form [formGroup]="form">
    <div [ngSwitch]="control?.type">

        <!-- TEXT BOX -->
        <div *ngSwitchCase="types.textbox">
            <mat-form-field appearance="fill" [style.width]="width(control?.width)" [ngClass]="{
                'align-left': control?.alignment==='left',
                'align-right': control?.alignment==='right',
                'align-center': control?.alignment==='center'}">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <!-- TEXT AREA -->
        <div *ngSwitchCase="types.textarea">
            <mat-form-field appearance="fill">
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>

    </div>
</form>
