<div class="form-builder-container" cdkDropListGroup>
  <div class="form-builder-listing">
    <div>
      <h2>Form Builder</h2>
      <h4>Drag and drop controls</h4>
      
      <!-- MENU -->
      <div style="width: 100%; display: block;">
        <div class="menu-container">
          <div class="menu-list" cdkDropList cdkDropListSortingDisabled [cdkDropListData]="menuControls"
            [cdkDropListEnterPredicate]="noReturnPredicate">
            <div class="menu-box" *ngFor="let item of menuControls" cdkDrag>
              {{formBuilderControlTypes[item.type]}}
            </div>
          </div>
        </div>
      </div>
      <br />

      <!-- Action buttons -->
      <div style="width: 95%; padding: 2px;">
        <button class="btn" style="background-color: rgb(249, 249, 238);">Preview</button>
      </div>
      <div style="width: 100%; display: flex;">
        <button class="btn btn-cancel">Cancel</button>
        <button class="btn btn-save">Save</button>
      </div>
    </div>
  </div>

  <!-- Body -->
  <div class="form-builder">
    <div class="form-builder-row" *ngFor="let row of getRows(); let i = index;">
      <div class="form-builder-column" *ngFor="let section of getSections(row); let j = index;">
        <div class="form-builder-container">
          <div class="form-builder-controls-container">
            <div class="form-builder-controls-list" cdkDropList [cdkDropListData]="getControls(section)"
              (cdkDropListDropped)="drop($event, section)">
              <div class="form-builder-control-box" *ngFor="let control of getControls(section)" cdkDrag>
                <app-form-builder-controls class=""
                  [control]="control" [form]="form">
                </app-form-builder-controls>
                <!-- {{formBuilderControlTypes[control.type]}} -->
                <!-- <div class="">
                  <mat-icon>edit</mat-icon>
                  <mat-icon>delete</mat-icon>
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <!-- Section action buttons -->
        <div class="section-edit-controls" *ngIf="getSections(row).length > 1">
          <mat-icon class="delete-icon" (click)="deleteSection(section)">delete_forever</mat-icon>
          <mat-icon class="arrow-icon" (click)="moveSectionLeft(row, section)">keyboard_arrow_left</mat-icon>
          <mat-icon class="arrow-icon" (click)="moveSectionRight(row, section)">keyboard_arrow_right</mat-icon>
        </div>
      </div>

      <!-- Row action buttons -->
      <div class="form-edit-controls">
        <mat-icon class="split-icon" (click)="addNewSection(row)">horizontal_split</mat-icon>
        <mat-icon class="delete-icon" (click)="deleteRow(row)">delete_forever</mat-icon>
        <mat-icon class="arrow-icon" (click)="moveRowUp(row)">keyboard_arrow_up</mat-icon>
        <mat-icon class="arrow-icon" (click)="moveRowDown(row)">keyboard_arrow_down</mat-icon>
      </div>
    </div>
    <div style="width: 99%;">
      <button mat-raised-button color="primary" class="btn btn-add" (click)="addNewRow()">
        ADD NEW ROW
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <!-- Properties Side panel -->
  <app-form-builder-props></app-form-builder-props>
</div>